POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=agora_campus

KEYCLOAK_PORT=8090
KEYCLOAK_REALM=agora-campus
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_FRONTEND_CLIENT_ID=agora-frontend

BACKEND_PORT=8080
FRONTEND_PORT=3000
